* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "HelveticaNeueLight", sans-serif;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 0.5rem;
  font-family: "HelveticaNeueBold";
  text-align: center;
}

h2 {
  font-size: 40px;
}

p {
  padding-bottom: 0.25rem;
  font-weight: 200;
  max-width: 800px;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (max-width: 800px) {
  p {
    max-width: 90%;
  }
}

img {
  max-width: 100%;
}

.textalign {
  text-align: center;
  margin-bottom: 30px;
}

.pos1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
