---
import { Image } from "astro:assets";
import instaTemplate from "../assets/instatemplate.webp";
---

<div>
  <Image src={instaTemplate} alt="Billede af eksempel på deltagelse i konkurrence" />
  <Image src={instaTemplate} alt="Billede af eksempel på deltagelse i konkurrence" />
</div>

<style>
  div img {
    max-width: 320px;
    max-height: 540px;
  }
  div {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 100px;
  }

  @media screen and (max-width: 800px) {
    div {
      display: grid;
    }
    div img:nth-child(1) {
      display: none;
    }
  }
</style>
