---

---

<div>
  <h3>&#169; 2021 Bareen Co. <br />All Rights Reserved.</h3>
  <h3>Terms & <br />Conditions</h3>
  <h3>Privacy <br />Policy</h3>
</div>

<style>
  div {
    background-color: black;
    padding: 80px 0px 80px 0px;
    display: flex;
    gap: 70px;
    color: white;
    justify-content: center;
  }

  h3 {
    font-style: normal;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
  }
</style>
